/* header */
header {
    grid-column: 1 / 13;
    grid-row: 1;
    display: flex;   
    align-items: end;
    padding: 7px;
    font-size: 2em;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 3px;
  }
  
  /* main */
  main {
    grid-column: 4 / 13;
    grid-row: 2;
    padding-bottom: 500px;

  }

  .mainlist {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    line-height: 2;
    padding-right: 15px;
    border-right: none;
  }

  .projecttext {
    text-align: center;
  }

  .responsive {
    width: 75%;
    height: auto;
  }

  /* aside / links */
  aside {
    grid-column: 1 / 4;
    grid-row: 2;
    display: flex;   
    justify-content: flex-start;
    padding-bottom: 500px;
  }
  
  ol {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      border-right: 1px solid #999;
      line-height: 2;
      padding-right: 15px;
  }

  a:link {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: teal;
  }

  a:hover {
    color: teal;
  }

  a:active {
    color: teal;
  }
  
  /* footer */
  footer {
    grid-column: 1 / 13;
    grid-row: 3;

  }